.login-form
  form(name="loginForm", ng-submit="signIn()", novalidate)
    label(for="login") Username:
    input#login.form-control(type="text", ng-model="login", required)
    label(for="password") Password:
    input#password.form-control(type="password", ng-model="password", required)
    .error(ng-show="error") {{error}}
    input.btn.btn-primary(type="submit" ng-disabled="loginForm.$invalid", value="Sign in")
